<html ng-app="import_app">
<head>
      <title>Bulk Import</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="import_style.css">
      <script src="import_factory.js"></script>

</head>

<body ng-controller="importController">

    <div><span id="navBar"></span><a href="" ng-click="logout()">logout {{myName}}</a></div>


    <h1>BULK IMPORT</h1>

    <form id="createEmailForm" style="margin: 1em;">
              <textarea id = "itemList" class = "feedback-input" ng-model="items.list" style = "width: 70%; " placeholder='List of items.' cols="40" rows="7"></textarea>

              <input type="submit" value="Import Items" style="margin-left:40%; width: 30%;" ng-click="importItems(items)">
    </form>

    <p>Sample list of items: </p>
    <textarea style = "width:50%; padding: 0.5em;" onClick="this.select();" cols="20" rows="3" readonly/>[{"name":"resistors","quantity":10, "quantity_available":10}, {"name":"transistors","quantity":20, "quantity_available":20, "model": "221B", "description": "small", "tags": ["tag_one", "tag_2"]}]</textarea>
    <div style="margin-top:1em;">
      <p id="successDiv" style="display:none; color:green;">Successfully imported items. View items <a href="/dispProducts"><b>here</b></a> to verify any issues.</p>
      <p id="failureDiv" style="display:none; color:red;"></p>
    </div>

</body>
</html>