<html ng-app="products_app">
<head>
  <title>Products</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="./products_factory.js"></script>
  <link rel="stylesheet" href="./products_style.css">

</head>

<body ng-controller="productsController">

  <div><span id="navBar"></span><a href="" ng-click="logout()">logout {{myName}}</a></div>


  <h1>ITEMS</h1>
  <input class = "feedback-input" type="text" id = "filterItems" ng-model="filter_name" placeholder="search items" style="width: 29%;">
  <button class="btn btn-info active" ng-click="belowThreshold()" style="width: 10%; margin-left: 2em;">Stock below <br> threshold</button>
  <button class = "btn btn-success active" style = "width: 7%; margin-left: 1em;" id="clearFields" ng-click="clearFields()">Clear <br> search </button>

  <h3 style = "margin-top: 0px;">Include Tags</h3>
  <select  style = "margin-bottom: 0px;" id="search-tag" class = "feedback-input" id = "tagList" name="tagOptions" ng-change="searchTag()" ng-model="searchTagSelected"> <!-- ng-model="new_product.tags[new_product.tags.length]">-->
    <option value="">Search Tags</option>
    <option ng-repeat="tag in tags" ng-bind="tag.name" value="{{tag.name}}"></option>
  </select>

  <br>
  <span>
    &nbsp;
    <span class="tag-class" ng-repeat="sTag in searchTags">
      <span ng-bind="sTag"></span>
      <button ng-click="removeSearchTag(sTag)"><span aria-hidden="true">&times;</span></button>
    </span>
    &nbsp;
  </span>
  <br>

  <h3 style = "margin-top: 0px;">Exclude Tags</h3>
  <select id="exclude-tag" class = "feedback-input" id = "tagList2" name="tagOptions" ng-change="excludeTag()" ng-model="excludeTagSelected">
    <option value="" disabled selected>Exclude Tags</option>
    <option ng-repeat="tag in tags" ng-bind="tag.name" value="{{tag.name}}"></option>
  </select>

  <br>
  <span>
    &nbsp;
    <span class="tag-class" ng-repeat="eTag in excludeTags">
      <span ng-bind="eTag"></span>
      <button ng-click="removeExcludeTag(eTag)"><span aria-hidden="true">&times;</span></button>
    </span>
    &nbsp;
  </span>
  <br>



  <div class="customerTable" id = "cTable" style="height:30em; margin: 0px 2.5%; width: 95%;">
    <table id = "myItemTable">
      <tr>
        <td> Name </td>
        <td> Model </td>
        <td> Total </td>
        <td> Available </td>
        <td ng-show="authorized"> Min <br> Threshold</td>

        <td ng-show="authorized"> Total <br> On Loan </td>
        <td ng-show="!authorized"> On Loan <br> to Me </td>

        <td> Tags </td>
        <td> Action </td>
      </tr>

      <tr ng-repeat="product in products | filter: filter_name | orderBy:'-date' | limitTo: paginationLimit()" >
        <td ng-bind="product.name"></td>
        <td ng-bind="product.model"></td>
        <td ng-bind="product.quantity"></td>
        <td ng-bind="product.quantity_available"></td>
        <td ng-show="authorized" ng-bind="product.min_quantity"></td>

        <td ng-show="authorized" ng-bind="product.quantity - product.quantity_available"></td>

        <td ng-show="!authorized" ng-bind="calculateMyLoans(product)"></td>

        <td ng-bind="product.tags"></td>
        <!--<td><button class="remove" ng-click="viewProduct(product)" data-toogle="modal" data-target"#productModal">View</button></td>-->
        <td><button class = "remove" ng-click='viewProduct(product)' data-toggle="modal" data-target="#productModal">View</button></td>
      </tr>
    </table>
  </div>

    <button class = "remove" style="margin-top:1em; width: 20%; color: black;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">
      Show more
 </button>


 <table class="formsTable" style="width:100%; margin-top: 2em;">
  <tr>
    <td style="width:60%; text-align:center;">
      <!-- ADDING ITEM FORM -->

      <span ng-show="authorized">
      <!--<span ng-controller="productsController">-->
        <h1>Add an Item</h1>

        <form id="createItemForm">
          <input class = "feedback-input" type="text" ng-model="new_product.name" placeholder="name" required>
          <!--<input class = "feedback-input" type="url" ng-model="new_product.image_url" placeholder="image url">-->
          <textarea class = "feedback-input" ng-model="new_product.description" placeholder="description"></textarea>
          <input class = "feedback-input" type="text" ng-model="new_product.model" placeholder="model">

      <!--
          <br>
          <span>
            &nbsp;
            <span class="tag-class" ng-repeat="cTag in currentTags">
              <span ng-bind="cTag"></span>
              <button ng-click="removeTag(cTag)"><span aria-hidden="true">&times;</span></button>
            </span>
            &nbsp;
          </span>
          <br>

          <select id="tag_select_modal" class = "feedback-input" ng-controller="productsController" id = "tagList" name="tagOptions">
            <option value="" disabled selected>Add a Tag</option>
            <option value="1" ng-click="createNewTag()">Create New Tag</option>
            <option ng-repeat="tag in tags" ng-bind="tag.name" ng-click="tagClicked(tag)"></option>
          </select>
        -->

          <!--<textarea class = "feedback-input" ng-model="new_product.tags" placeholder="tags (comma separated)"></textarea>-->

          <br>
          <input class = "feedback-input" style = "display: inline; width: 33%;" type="number" min="1" ng-model="new_product.quantity" placeholder="quantity" required>
          <input class = "feedback-input" style = "display: inline; width: 33%; margin-left: 3.5%" type="number" min="0" ng-model="new_product.min_quantity" placeholder="minimum threshold">
          <br>
          <!-- REQUIREMENT: assets -->
           <!-- <input class = "feedback-input" type="number" min="1" ng-model="new_product.assetTag" placeholder="Add an asset tag if you wish to configure this item as assets."> -->
           <select id="asset_select" class="feedback-input" name="assetOptions" ng-change="assetClicked()" ng-model="assetOption">
            <option value="" selected>This item is not an asset.</option>
            <option value="isAsset">This item is an asset.</option>
          </select>


           <h3>Custom Fields</h3>
          <div ng-repeat="field in fields">
            <input ng-show="field.type=='short-form'"class="feedback-input" type="text" ng-model="new_product.fields[field.name]" placeholder="{{field.name}}">

            <textarea ng-show="field.type=='long-form'"class="feedback-input" type="text" ng-model="new_product.fields[field.name]" placeholder="{{field.name}}"></textarea>
            <input ng-show="field.type=='integer'"class="feedback-input" type="number" ng-model="new_product.fields[field.name]" placeholder="{{field.name}}">
            <input ng-show="field.type=='floating-point'"class="feedback-input" type="number" step="0.01" ng-model="new_product.fields[field.name]" placeholder="{{field.name}}">

          </div>

          <br>
          <h3>Tags</h3>

          <span>
            &nbsp;
            <span class="tag-class" ng-repeat="cTag in currentTags">
              <span ng-bind="cTag"></span>
              <button ng-click="removeTag(cTag)"><span aria-hidden="true">&times;</span></button>
            </span>
            &nbsp;
          </span>
          <br>

          <select id="tag_select_modal" class="feedback-input" id="tagList" name="tagOptions" style="margin-top:0.5em;" ng-change="tagClicked()" ng-model="tagSelected" >
            <option value="">Add a Tag</option>
            <option value="createNewTag">Create New Tag</option>
            <option ng-repeat="tag in tags" ng-bind="tag.name" value="{{tag.name}}"></option>
          </select>

          <div class="error" ng-if="errorMessage">{{ errorMessage }}</div>

          <input type="submit" ng-disabled="createItemForm.$invalid" ng-click="addProduct()" >
          <br>
        </form>
      </span>




    </td>
    <td style="width:40%; vertical-align:top; padding-right: 1em;">
      <!-- BULK MIN THRESHOLD FORM -->

      <span ng-show="authorized" style="text-align: center;">
      <!--<span ng-controller="productsController">-->
        <h1>Set minimum threshold</h1>

        <form id="setMinThreshold">

          <input class = "feedback-input" style = "display: inline;" type="number" min="0" ng-model="minThr.min_quantity" placeholder="minimum threshold">
          <br>
          <h3>Items:</h3>
          <select id="item_select_modal" class="feedback-input" id="itemList" name="itemOptions" style="height: 10em;" ng-model="minThr.itemsSelected" multiple>
            <option ng-repeat="item in products" ng-bind="item.name" value="{{item.name}}"></option>
          </select>

          <!-- <div class="error" ng-if="errorMessage">{{ errorMessage }}</div> -->
          <br>
          Select:
          <button class="btn btn-default" ng-click="selectAllItems()" style = "border: 1px solid #6C93B4">All</button>
          <button class="btn btn-default" ng-click="selectNoItems()" style="margin-left: 3px; border: 1px solid #6C93B4">None</button>
          <br>
          <input type="submit" value="Set Threshold" ng-disabled="createItemForm.$invalid" ng-click="setMinThreshold()" style="margin-top:0.5em;">
          <br>
        </form>
        <ul style="text-align:left;">
          <li>Select/Unselect items that are not grouped together: <b> Ctrl (Windows) / Command (Mac) + click. </b></li>
          <li>Select multiple, contiguous items: <b>Shift + click.</b></li>
        </ul>
      </span>


    </td>
  </tr>
</table>


<!--TODO: Formatting-->

<!-- PRODUCT MODAL -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeItemModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">View Item</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          <label><b>Name: </b></label>
          <input id=productName type="text" ng-readonly="!editing" ng-model="currentProduct.name" required/>
          <p>
            <label><b>Model:  </b></label>
            <input type="text" ng-readonly="!editing" ng-model="currentProduct.model"/>
          </p>
          <p>
            <label><b>Quantity:  </b></label>
            <span ng-bind="currentProduct.quantity" />
          </p>
          <p>
            <label><b>Quantity Available:  </b></label>
            <span ng-bind="currentProduct.quantity_available" />
          </p>


          <p ng-show="authorized">
            <label style = "display:inline;"><b>Minimum threshold:  </b></label>
              <input type="number" step="1" style = "width: 4em;" ng-readonly="!editing" ng-model="currentProduct.min_quantity">
              <label style = "display:inline; margin-left: 1em;"><b>Enabled:  </b></label>

              <input id="checkbox-1" class="checkbox-custom" type="checkbox" style = "visibility: visible;" ng-disabled="!editing" ng-model="currentProduct.min_enabled" ng-bind="currentProduct.min_enabled">
              <label for="checkbox-1" class="checkbox-custom-label"></label>
          </p>


          <p ng-show="authorized">
            <label><b>Total on Loan:  </b></label>
            <span ng-bind="currentProduct.quantity - currentProduct.quantity_available" />
          </p>
          <p>
            <label><b>Quantity on Loan to Me:  </b></label>
            <span ng-bind="calculateMyLoans(currentProduct)" />
          </p>
          <p ng-show="authorized">
            <label><b>Total Backfill Requested:  </b></label>
            <span ng-bind="calculateTotalBackfillRequested(currentProduct)" />
          </p>
          <p>
            <label><b>My Backfill Requested:  </b></label>
            <span ng-bind="calculateMyBackfillRequested(currentProduct)" />
          </p>
          <p ng-show="authorized">
            <label><b>Total Backfill in Transit:  </b></label>
            <span ng-bind="calculateTotalBackfillInTransit(currentProduct)" />
          </p>
          <p>
            <label><b>My Backfill in Transit:  </b></label>
            <span ng-bind="calculateMyBackfillInTransit(currentProduct)" />
          </p>
          <p>
            <label><b>Minimum Stock: </b></label>
            <span ng-bind="currentProduct.min_quantity" />
          </p>
          <p>
            <label><b>Minimum Stock Enabled? </b></label>
            <span ng-bind="currentProduct.min_endabled" />
          <p>
            <label><b>Description:  </b></label>
            <textarea ng-readonly="!editing" ng-model="currentProduct.description"></textarea>
          </p>


          <p>
            <label><b>Item:  </b></label>
            <!-- <input type="checkbox" ng-disabled="!editing" ng-model="currentProduct.isAsset"> -->
            <div class="slideThree">
            <input type="checkbox" ng-disabled="!editing" ng-model="currentProduct.isAsset" ng-bind="currentProduct.isAsset" value="assetSelected" id="slideThree" name="check" />
            <label for="slideThree"></label>
          </div>

          </p>

          <p ng-repeat="field in fields">
            <span ng-show="authorized || field.access=='public'">
              <label><b>{{ field.name }}: </b></label>
              <input ng-show="field.type=='short-form'" type="text" ng-readonly="!editing" ng-model="currentProduct.fields[field.name]">
              <textarea ng-show="field.type=='long-form'"type="text" ng-readonly="!editing" ng-model="currentProduct.fields[field.name]"></textarea>
              <input ng-show="field.type=='integer'" type="number" ng-readonly="!editing" ng-model="currentProduct.fields[field.name]">
              <input ng-show="field.type=='floating-point'" type="number" step="0.01" ng-readonly="!editing" ng-model="currentProduct.fields[field.name]">
            </span>
          </p>
          <p>
            <label><b>Tags:  </b><label>
            <span>
              &nbsp;
              <div class="tag-class hack-inline" ng-repeat="cTag in currentTags">
                <span ng-bind="cTag"></span>
                <button ng-show="editing" ng-click="currentTags.splice($index, 1)"><span aria-hidden="true">&times;</span></button>
              </div>
              &nbsp;
            </span>
            <br>
          </p>
          <p>
            <select id="tag_select_main" class="feedback-input" id="tagList3" name="tagOptions" ng-change="tagClicked()" ng-model="tagSelected" ng-disabled="!editing" ng-show="authorized">
              <option value="">Add a Tag</option>
              <option value="createNewTag">Create New Tag</option>
              <option ng-repeat="tag in tags" ng-bind="tag.name" value="{{tag.name}}"></option>
            </select>
          </p>
        </div>
        <br>
        <div class="modal-footer">
          <span ng-show="adminOnly">
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">Delete Product</button>
          </span>
          <button type="button" class="btn btn-secondary" ng-click="closeItemModal()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="requestProduct(thisProduct)" data-toggle="modal" data-target="#requestModal">Add to Cart</button>
          <span ng-show="authorized">
            <button type="button" class="btn btn-primary" ng-click="editProduct(currentProduct)">{{editing == true ? 'Save Edits' : 'Edit' }}</button>
            <button type="button" class="btn btn-primary" ng-click="deltaQuantity(currentProduct)" ng-show="!currentProduct.isAsset || (!currentProduct.isAsset && editing)">Log Loss/Aquires</button>
          </span>
        </div>
        <br>
        <h2>Requests made on this item</h2>
        <div class="customerTable" id = "cTable">
          <table>
            <tr>
              <td> User Name </td>
              <td> # of Items </td>
              <td> Date Issued </td>
              <td> Status </td>
              <td> Type </td>
              <td> View Request </td>
            </tr>
            <tr ng-repeat="order in orders | filter: filter_name | orderBy:'-date'">
              <td style="display:none;" ng-bind="order._id"></td>
              <td ng-bind="order.customer_name || order.user.username"></td>
              <td ng-bind="order.items.length"></td>
              <td ng-bind="order.date | date:'short'"></td>
              <td ng-bind="order.status"></td>
              <td ng-bind="order.type"></td>
              <td><button class = "remove" ng-click='viewOrder(order)' data-toggle="modal" data-target="#orderModal">View</button></td>
            </tr>
            <!--
            <tr ng-repeat="order in orders | filter: filter_name | orderBy:'-status'">
              <td ng-bind="order.customer_name || order.user.username"></td>
              <td ng-bind="order.item_name"></td>
              <td ng-bind="order.quantity"></td>
              <td ng-bind="order.date | date:'short'"></td>
              <td ng-bind="order.dateDone | date:'short'"></td>
              <td ng-bind="order.status"></td>
            </tr>
          -->
          </table>
        </div>


        <!-- todo: make assets -->
        <!-- <p style="display:none;">{{sampleAssets = [{"assetTag": 1, "fieldVal": 11}, {"assetTag": 2, "fieldVal": 22}] }}</p> -->
        <!-- ASSETS -->
        <div ng-show="currentProduct.isAsset && !editing && authorized">
            <h2 style = "display: inline;">Assets</h2>
            <button type="button" class="btn btn-primary" ng-click="addAnAsset(currentProduct)" style = "display: inline; margin-bottom: 1em; margin-left: 1em;" ng-show="currentProduct.isAsset && authorized">+</button>

            <div class="customerTable" id = "cTable2">
              <table>
                <tr>
                    <!-- <td ng-repeat="aField in assetFields" > {{aField.name}}</td> -->
                    <td>Asset Tag</td>
                    <td>View Asset</td>
                </tr>
                <tr ng-repeat="asset in currentProduct.assets">
                    <td>{{asset.assetTag}}</td>
                    <!-- <td ng-repeat="aField in assetFields" > {{asset.fieldVal}}</td> -->
                    <td> <button class = "remove" ng-click='viewAsset(asset)' data-toggle="modal" data-target="#assetModal">View</button> </td>
                </tr>
              </table>
            </div>
        </div>


      </div>
    </div>
  </div>
</div>



<!-- ASSET MODAL -->

<div class="modal fade" id="assetModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeAssetModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">View Asset for {{currentProduct.name}}</h1>
      </div>
      <!-- <p>{{currentAsset}}</p> -->
      <!-- <p>{{thisAsset}}</p> -->
      <div class="modal-body" align="left">
        <div class="form-group" >
          <label><b>Asset Tag: </b></label>
          <input type="text" ng-readonly="!assetEditing" ng-model="currentAsset.assetTag" required/>
          <p>
            <h3>Fields:</h3>
            <p style="margin-left:1em;" ng-repeat="field in assetFields">
            <span ng-show="authorized || field.access=='public'">
              <label style="margin-right:0.5em;"><b>{{ field.name }}: </b></label>
              <input ng-show="field.type=='short-form'" type="text" ng-readonly="!assetEditing" ng-model="currentAsset.fields[field.name]">
              <textarea ng-show="field.type=='long-form'"type="text" ng-readonly="!assetEditing" ng-model="currentAsset.fields[field.name]"></textarea>
              <input ng-show="field.type=='integer'" type="number" ng-readonly="!assetEditing" ng-model="currentAsset.fields[field.name]">
              <input ng-show="field.type=='floating-point'" type="number" step="0.01" ng-readonly="!assetEditing" ng-model="currentAsset.fields[field.name]">
            </span>
          </p>

          </p>

        </div>
        <br>
        <div class="modal-footer">
          <span ng-show="adminOnly">
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmAssetModal">Delete Asset</button>
          </span>
          <button type="button" class="btn btn-secondary" ng-click="closeAssetModal()">Close</button>
          <!-- <button type="button" class="btn btn-primary" ng-click="requestProduct(thisProduct)" data-toggle="modal" data-target="#requestModal">Add to Cart</button> -->
          <span ng-show="authorized">
            <button type="button" class="btn btn-primary" ng-click="editAsset(currentAsset)">{{assetEditing == true ? 'Save Edits' : 'Edit' }}</button>
                    <!-- TODO CHANGE TO EDIT THIS ASSET -->

          </span>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- CREATE ASSET MODAL -->

<div class="modal fade" id="assetCreationModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeassetCreationModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Create an Asset for {{currentProduct.name}}</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          <label><b>Asset Tag: </b></label>
          <input type="text" ng-model="currentAsset.assetTag" required/>
          <p>
            <h3>Fields:</h3>
            <p style="margin-left:1em;" ng-repeat="field in assetFields">
            <span ng-show="authorized || field.access=='public'">
              <label style="margin-right:0.5em;"><b>{{ field.name }}: </b></label>
              <input ng-show="field.type=='short-form'" type="text" ng-model="currentAsset.fields[field.name]">
              <textarea ng-show="field.type=='long-form'"type="text" ng-model="currentAsset.fields[field.name]"></textarea>
              <input ng-show="field.type=='integer'" type="number" ng-model="currentAsset.fields[field.name]">
              <input ng-show="field.type=='floating-point'" type="number" step="0.01" ng-model="currentAsset.fields[field.name]">
            </span>
          </p>

          </p>

        </div>
        <br>
        <div class="modal-footer">
          <span ng-show="adminOnly">
            <!-- <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmAssetModal">Delete Asset</button> -->
          </span>
          <button type="button" class="btn btn-secondary" ng-click="closeassetCreationModal()" >Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="createAsset(currentAsset)" >Create Asset</button>
          <span ng-show="authorized">
            <!-- <button type="button" class="btn btn-primary" ng-click="editAsset(currentAsset)">{{assetEditing == true ? 'Save Edits' : 'Edit' }}</button> -->

          </span>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- DELETE CONFIRM ASSET MODAL -->
<div class="modal fade" id="deleteConfirmAssetModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Deletion</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          Confirm Deletion
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmDeleteAssetModal(currentAsset)>Confirm</button>
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelDeleteAssetModal()>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--REQUEST MODAL -->

<div class="modal fade" id="requestModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">Add Item to Cart</h1>

    </div>
    <div class="modal-body" align="center">
      <h2>Add to Cart</h2>

      <!--
      <span ng-show="authorized">
      <select class = "feedback-input" ng-controller="customersController" id = "customerList" name="customerOptions" ng-model="new_order.userId">
        <option value="" selected disabled>User Name</option>
        <option ng-repeat="customer in customers" value="{{customer._id}}" ng-bind="customer.name"></option>
      </select>
    -->
      </span>

<!--
      <select class = "feedback-input" ng-controller="productsController" id = "productList" name="productsOptions" ng-model="new_order.product">
          <option value="" selected disabled>Products</option>
           <option ng-repeat="product in products" value="{{product.name}}">{{product.name}} || {{product.description}}</option>
       </select>
     -->
     <form id="addOrderForm">
       <input class = "feedback-input" type="text" value="{{currentProduct.name}}" ng-readonly="true" />


        <input class = "feedback-input" type="number" min="1" ng-model="new_order.quantity" placeholder="quantity">
        <!--
        <textarea class = "feedback-input" ng-model="new_order.reason" placeholder="Reason"></textarea>
      -->
        <input type="submit" ng-click="addOrder()">
      </form>


    <div class="modal-footer">
      <!--
      <button class="btn btn-danger" ng-click='deleteProduct($event, thisProduct)' >Delete Product</button>
    -->


      <button type="button" class="btn btn-secondary close" aria-hidden="true" data-dismiss="modal" aria-label="Close">Close</button>

      <!--
      <button class = "remove" ng-click='viewProduct(product)' data-toggle="modal" data-target="#productModal">View</button>

      <button type="button" class="btn btn-primary" ng-click="requestProduct(thisProduct)" data-toggle="modal" data-target="#requestModal">Request</button>
      <button type="button" class="btn btn-primary" ng-click="editProduct(thisProduct)">Edit</button>
    -->

    </div>
  </div>
</div>
</div>
</div>

<!-- DELETE CONFIRM MODAL -->
<div class="modal fade" id="deleteConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Deletion</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          Confirm Deletion
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmDeleteModal(thisProduct)>Confirm</button>
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelDeleteModal()>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT CONFIRM MODAL -->
<div class="modal fade" id="editConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Edits</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          Confirm Edits
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmEditModal(currentProduct)>Confirm</button>
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelEditModal(currentProduct)>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- EDIT CONFIRM ASSET MODAL -->
<div class="modal fade" id="editConfirmAssetModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Asset Edits</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          Confirm Asset Edits
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmEditAssetModal(currentAsset)>Confirm</button>
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelEditAssetModal(currentAsset)>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--DELTA QUANTITY MODAL -->
<div class="modal fade" id="deltaQuantityModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Log Losses and Aquisitions of Product</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          <label><b>Change in item quantity:  </b></label>
          <input class = "feedback-input" type="number" ng-model="deltaQuantity" required>
        </div>
        <div class="error" ng-show="errorMessage">{{ errorMessage }}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmDeltaQuantity(currentProduct)>Confirm</button>
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelDeltaQuantity(currentProduct)>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- NEW TAG MODAL -->
<div class="modal fade" id="newTagModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">Add a Tag</h1>

    </div>
    <div class="modal-body" align="left">
      <div class="form-group" >
        <label><b>New Tag:  </b></label>
        <input class="feedback-input" type="text" ng-model="newTag.name">
      </div>
    </div>


    <div class="modal-footer">

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmNewTag(thisProduct)>Confirm</button>

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelNewTag(thisProduct)>Cancel</button>

    </div>
  </div>
</div>
</div>



  <script type="text/javascript">
    $('#productModal').on('show.bs.modal', function (event) {
      console.log("product modal called");
      var button = $(event.relatedTarget);
      var modal = $(this);
    })
  </script>

  <script type="text/javascript">
    $('#requestModal').on('show.bs.modal', function (event) {
      console.log("request modal called");
      var button = $(event.relatedTarget);
      var modal = $(this);
    })
  </script>

</body>
</html>
