<html ng-app="products_app">
<head>
  <title>Products</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="./products_factory.js"></script>
  <link rel="stylesheet" href="./products_style.css">

</head>

<body ng-controller="productsController">

<a href="/dispCustomers">customers</a> | <a href="/dispOrders">orders</a> | <a href="/dispProducts">products</a> | <a href="/dashboard">dashboard</a> | <a href="/logout">logout</a>

  <h1>PRODUCTS</h1>
  <input class = "feedback-input" type="text" ng-model="filter_name" placeholder="filter">


<div class="customerTable" id = "cTable" >
  <table>
    <tr>
      <td> Name </td>
      <td> Model </td>
      <td> Quantity </td>
      <td> Tags </td>
      <td> Action </td>
    </tr>

    <tr ng-repeat="product in products | filter: filter_name | orderBy:'-date'">
      <td ng-bind="product.name"></td>
      <td ng-bind="product.model"></td>
      <td ng-bind="product.quantity"></td>
      <td ng-bind="product.tags"></td>
      <!--<td><button class="remove" ng-click="viewProduct(product)" data-toogle="modal" data-target"#productModal">View</button></td>-->
      <td><button class = "remove" ng-click='viewProduct(product)' data-toggle="modal" data-target="#productModal">View</button></td>
    </tr>
  </table>
</div>

<!--<span ng-if="authorized">-->
<h1>Add a product {{$scope.isAuthorized}} </h1>

<form id="createItemForm">
<input class = "feedback-input" type="text" ng-model="new_product.name" placeholder="name" required>
<input class = "feedback-input" type="url" ng-model="new_product.image_url" placeholder="image url">
<textarea class = "feedback-input" ng-model="new_product.description" placeholder="description"></textarea>
<input class = "feedback-input" type="text" ng-model="new_product.model" placeholder="model">
<input class = "feedback-input" type="text" ng-model="new_product.location" placeholder="location">

<br>
<span>
  &nbsp;
  <span class="tag-class" ng-repeat="cTag in currentTags">
    <span ng-bind="cTag"></span>
    <button ng-click="removeTag(cTag)"><span aria-hidden="true">&times;</span></button>
  </span>
  &nbsp;
</span>
<br>
<!-- TODO: view array of tags
      1. Make it so that tags can be added form currently available customers
      2. Make it so that these tags are shown aobve in array of tags
      3. Give third option to add new tag/customer
      4. Make adding a new tag/customer add it to current product tag array-->

      <select class = "feedback-input" ng-controller="tagsController" id = "tagList" name="tagOptions"> <!-- ng-model="new_product.tags[new_product.tags.length]">-->
        <option value="" ng-click="createNewTag()">Add a tag</option>
        <option ng-repeat="tag in tags" ng-bind="tag.name" ng-click="tagClicked(tag)"></option>
      </select>
<!--<textarea class = "feedback-input" ng-model="new_product.tags" placeholder="tags (comma separated)"></textarea>-->


<input class = "feedback-input" type="number" ng-model="new_product.quantity" placeholder="quantity" required>
<input type="submit" ng-disabled="createItemForm.$invalid" ng-click="addProduct()">
<br>
</form>
<!--</span>-->

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="closeItemModal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">View Product</h1>

    </div>
    <div class="modal-body" align="left">
      <div class="form-group" >
          <p><img style = "height:100px; width: 100px" src="currentProduct.image_url"></p>
          <p>
            <label><b>Name: </b></label>

            <input id=productName type="text" ng-readonly="!editing" ng-model="currentProduct.name" required/>
          </p>
          <p>
            <label><b>Model:  </b></label>
            <input type="text" ng-readonly="!editing" ng-model="currentProduct.model"/>
          </p>
          <p>
            <label><b>Quantity:  </b></label>
            <input type="number" ng-readonly="!editing" ng-model="currentProduct.quantity"required/>
          </p>
          <p>
            <label><b>Description:  </b></label>
            <input type="text" ng-readonly="!editing" ng-model="currentProduct.description"/>
          </p>
          <p>
            <label><b>Location:  </b></label>
            <input type="text" ng-readonly="!editing" ng-model="currentProduct.location"/>
          </p>
          <p>
            <label><b>Tags:  </b><label>
            <span>
            &nbsp;
            <span class="tag-class" ng-repeat="cTag in currentTags">
              <span ng-bind="cTag"></span>
              <button ng-if="editing" ng-click="removeTag(cTag)"><span aria-hidden="true">&times;</span></button>
            </span>
            &nbsp;
          </span>
          <br>
          </p>
          <p>
          <!-- TODO: view array of tags
                1. Make it so that tags can be added form currently available customers
                2. Make it so that these tags are shown aobve in array of tags
                3. Give third option to add new tag/customer
                4. Make adding a new tag/customer add it to current product tag array-->

                <select class = "feedback-input" ng-if="editing" ng-controller="tagsController" id = "tagList" name="tagOptions" ng-model="new_order.tags[new_order.tags.length]">
                  <option value="" ng-click="createNewTag()">Add a tag</option>
                  <option ng-repeat="tag in tags" ng-bind="tag.name" ng-click="tagClicked(tag)"></option>
                </select>
          </p>
      </div>

      <br>

      <div class="modal-footer">
        <!--<span ng-if="authorized">-->
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">Delete Product</button>
        <!--</span>-->
        <button type="button" class="btn btn-secondary" ng-click="closeItemModal()" data-dismiss="modal">Close</button>

        <!--
        <button class = "remove" ng-click='viewProduct(product)' data-toggle="modal" data-target="#productModal">View</button>
        -->

        <button type="button" class="btn btn-primary" ng-click="requestProduct(thisProduct)" data-toggle="modal" data-target="#requestModal">Request</button>

        <!--<span ng-if="authorized">-->
        <button type="button" class="btn btn-primary" ng-click="editProduct(currentProduct)">{{editing == true ? 'Save Edits' : 'Edit' }}</button>
        <!--</span>-->

      </div>

      <br>

      <h2>Requests made on this item</h2>


    <div class="customerTable" id = "cTable" ng-controller="ordersController">
                    <table >
                        <tr>
                            <td> User Name </td>
                            <td> Item </td>
                            <td> Quantity </td>
                            <td> Date Issued </td>
                            <td> Date Fulfilled </td>
                            <td> Status </td>
                            <!--<td> View Request </td>-->
                        </tr>
                        <tr ng-repeat="order in orders | filter: filter_name | orderBy:'-status'">

                            <td ng-bind="order.customer_name"></td>
                            <td ng-bind="order.item_name"></td>
                            <td ng-bind="order.quantity"></td>
                            <td ng-bind="order.date | date:'short'"></td>
                            <td ng-bind="order.dateDone | date:'short'"></td>
                            <td ng-bind="order.status"></td>
                            <!--<td><button class = "remove" ng-click='viewOrder(order)' data-toggle="modal" data-target="#orderModal">View</button></td>-->

                        </tr>

                    </table>
      </div>
  </div>
</div>
</div>
</div>


<div class="modal fade" id="requestModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">Request Product</h1>

    </div>
    <div class="modal-body" align="center">
      <h1>Create Order</h1>


      <select class = "feedback-input" ng-controller="customersController" id = "customerList" name="customerOptions" ng-model="new_order.userId">
        <option value="" selected disabled>User Name</option>
        <option ng-repeat="customer in customers" value="{{customer._id}}" ng-bind="customer.name"></option>
      </select>

<!--
      <select class = "feedback-input" ng-controller="productsController" id = "productList" name="productsOptions" ng-model="new_order.product">
          <option value="" selected disabled>Products</option>
           <option ng-repeat="product in products" value="{{product.name}}">{{product.name}} || {{product.description}}</option>
       </select>
     -->
     <input class = "feedback-input" type="text" value="{{thisProduct.name}}" ng-readonly="true" />

      <input class = "feedback-input" type="number" ng-model="new_order.quantity" placeholder="quantity">
      <textarea class = "feedback-input" ng-model="new_order.reason" placeholder="Reason"></textarea>
      <input type="submit" ng-click="addOrder()">


    <div class="modal-footer">
      <!--
      <button class="btn btn-danger" ng-click='deleteProduct($event, thisProduct)' >Delete Product</button>
    -->


      <button type="button" class="btn btn-secondary close" aria-hidden="true" data-dismiss="modal" aria-label="Close">Close</button>

      <!--
      <button class = "remove" ng-click='viewProduct(product)' data-toggle="modal" data-target="#productModal">View</button>

      <button type="button" class="btn btn-primary" ng-click="requestProduct(thisProduct)" data-toggle="modal" data-target="#requestModal">Request</button>
      <button type="button" class="btn btn-primary" ng-click="editProduct(thisProduct)">Edit</button>
    -->

    </div>
  </div>
</div>
</div>
</div>


<div class="modal fade" id="deleteConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Deletion</h1>

    </div>
    <div class="modal-body" align="left">
      <div class="form-group" >
        Confirm Deletion
      </div>


    <div class="modal-footer">

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmDeleteModal(thisProduct)>Confirm</button>
      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelDeleteModal()>Cancel</button>

    </div>
  </div>
</div>
</div>
</div>

<div class="modal fade" id="editConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Deletion</h1>

    </div>
    <div class="modal-body" align="left">
      <div class="form-group" >
        Confirm Edits
      </div>


    <div class="modal-footer">

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmEditModal(currentProduct)>Confirm</button>

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelEditModal(currentProduct)>Cancel</button>

    </div>
  </div>
</div>
</div>
</div>

<div class="modal fade" id="newTagModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>

      </button>
        <h1 class="modal-title" id="exampleModalLabel">Add a Tag</h1>

    </div>
    <div class="modal-body" align="left">
      <div class="form-group" >
        <label><b>New Tag:  </b></label>
        <input class="feedback-input" type="text" ng-model="newTag.name">
      </div>
    </div>


    <div class="modal-footer">

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmNewTag(thisProduct)>Confirm</button>

      <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelNewTag(thisProduct)>Cancel</button>

    </div>
  </div>
</div>
</div>



  <script type="text/javascript">
    $('#productModal').on('show.bs.modal', function (event) {
      console.log("product modal called");
      var button = $(event.relatedTarget);
      var modal = $(this);
    })
  </script>

  <script type="text/javascript">
    $('#requestModal').on('show.bs.modal', function (event) {
      console.log("request modal called");
      var button = $(event.relatedTarget);
      var modal = $(this);
    })
  </script>

</body>
</html>
