    body {
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
    }

    .feedback-input, .half-feedback-input {
      font-family: Helvetica, Arial, sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid steelblue;
      transition: all 0.5s;
      padding: 13px;
      margin-bottom: 15px;
      box-sizing: border-box;
      outline:0;
      width: 50%;
    }

    .feedback-input:focus { border:2px solid #28A1B4; }

    .half-feedback-input {
      display: inline-block;
      width: 25%;
    }


    [type="submit"] {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      width: 100%;
      background: #6C93B4;
      border-radius:5px;
      border:0;
      cursor:pointer;
      font-size:24px;
      padding-top:10px;
      padding-bottom:10px;
      transition: all 0.5s;
      margin-top:-4px;
      font-weight:700;
      width: 50%;
      color: white;
    }
    [type="submit"]:hover { background: teal; }

    option[value=""][disabled] {
      display: none;
    }

    .error {
      font-size: 30px;
      color: red;
    }

    /*remove button*/
    .remove {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      width: 100%;
      background: rgba(0, 50, 50, 0.1);;
      border-radius:5px;
      border:3px solid #6C93B4;
      cursor:pointer;
      font-size:15px;
      padding-top:7px;
      padding-bottom:7px;
      transition: all 0.5s;
      margin-top:3px;
      letter-spacing: 2px;
      width: 50%;
      color: white;
    }
    .remove:hover { background: rgba(150, 200, 200, 0.6); }


    .customerTable {
      margin:0px;padding:0px;
      width:100%;
      height: 25em;
      overflow-y:scroll;

      -moz-border-radius-bottomleft:14px;
      -webkit-border-bottom-left-radius:14px;
      border-bottom-left-radius:14px;

      -moz-border-radius-bottomright:14px;
      -webkit-border-bottom-right-radius:14px;
      border-bottom-right-radius:14px;

      -moz-border-radius-topright:14px;
      -webkit-border-top-right-radius:14px;
      border-top-right-radius:14px;

      -moz-border-radius-topleft:14px;
      -webkit-border-top-left-radius:14px;
      border-top-left-radius:14px;
    }.customerTable table{
        border-collapse: collapse;
            border-spacing: 0;
      width:100%;
      margin:0px;padding:0px;
    }
    .customerTable tr {
      height:3em;
    }

    .customerTable tr:last-child td:last-child {
      -moz-border-radius-bottomright:14px;
      -webkit-border-bottom-right-radius:14px;
      border-bottom-right-radius:14px;
    }
    .customerTable table tr:first-child td:first-child {
      -moz-border-radius-topleft:14px;
      -webkit-border-top-left-radius:14px;
      border-top-left-radius:14px;
    }
    .customerTable table tr:first-child td:last-child {
      -moz-border-radius-topright:14px;
      -webkit-border-top-right-radius:14px;
      border-top-right-radius:14px;
    }.customerTable tr:last-child td:first-child{
      -moz-border-radius-bottomleft:14px;
      -webkit-border-bottom-left-radius:14px;
      border-bottom-left-radius:14px;
    }.customerTable tr:hover td{
      background-color:#ffffff;
    }
    .customerTable td{
      vertical-align:middle;

      background-color:#b7cece;

      border:1px solid #a8e0e0;
      border-width:0px 1px 1px 0px;
      text-align:center;
      padding:5px;
      font-size:13px;
      font-family:Arial;
      font-weight:normal;
      color:#000000;
    }.customerTable tr:last-child td{
      border-width:0px 1px 0px 0px;
    }.customerTable tr td:last-child{
      border-width:0px 0px 1px 0px;
    }.customerTable tr:last-child td:last-child{
      border-width:0px 0px 0px 0px;
    }
    .customerTable tr:first-child td{
        background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
      background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

      background-color:#005fbf;
      border:0px solid #a8e0e0;
      text-align:center;
      border-width:0px 0px 1px 1px;
      font-size:15px;
      font-family:Arial;
      font-weight:bold;
      color:#ffffff;
    }
    .customerTable tr:first-child:hover td{
      background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
      background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

      background-color:#005fbf;
    }
    .customerTable tr:first-child td:first-child{
      border-width:0px 0px 1px 0px;
    }
    .customerTable tr:first-child td:last-child{
      border-width:0px 0px 1px 1px;
    }

    .hack-inline {
      display: inline;
    }

    .tag-class {
      border: 1px solid black;
      border-radius: 10px;
      padding: 4px;
    }




    /* checkbox style : http://cssdeck.com/labs/css-checkbox-styles */

    input[type=checkbox] {
      visibility: hidden;
    }

  .slideThree {
    /*width: 80px;*/
    width:180px;
    height: 26px;
    background: #b7cece;
    margin-left: 1em;
    margin-bottom: 1em;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  }

  .slideThree:after {
    /*content: 'NO';*/
    content: 'Not an asset';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }

  .slideThree:before {
    /*content: 'YES';*/
    content: 'Is an asset';
    font: 12px/26px Arial, sans-serif;
    color: #005fbf;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
  }

  .slideThree label {
    display: block;
    /*width: 34px;*/
    width: 85px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  }

  .slideThree input[type=checkbox]:checked + label {
    /*left: 43px;*/
    left: 91px;
  }



.modal-dialog {
  width: 55%;
}


/* http://codepen.io/imohkay/pen/zFwec */

.checkbox-custom{
    opacity: 0;
    position: absolute;   

    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #28A1B4;
}




