<html ng-app="fields_app">
<head>
  <title>Custom Fields</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="./fields_factory.js"></script>
  <link rel="stylesheet" href="./fields_style.css">

</head>

<body ng-controller="fieldsController">

  <a ng-if="authorized" href="/dispCustomers">users</a> | <a href="/dispOrders">requests</a> | <a href="/dispProducts">items</a> | <a href"/dispFields">custom fields</a> | <a href="" ng-click="logout()">logout {{myName}}</a>

  <h1>CUSTOM FIELDS</h1>
  <input class = "feedback-input" type="text" ng-model="filter_name" placeholder="filter">

  <div class="fieldTable" id = "fTable">
    <table>
      <tr>
        <td> Name </td>
        <td> Type </td>
        <td> Access </td>
        <!-- TODO-if time: <td> Default Value </td> -->
        <td> Action </td>
        <td> Delete </td>
      </tr>

      <tr ng-repeat="field in fields | filter: filtner_name: orderBy:'-date'">
        <td ng-bind="field.name"></td>
        <td ng-bind="field.type"></td>
        <td ng-bind="field.access"></td>
        <!-- <td ng-bind="field.default_value"></td> -->
        <td><button class="remove" ng-click="viewField(field)" data-toggle="modal" data-target="#fieldModal">View</button></td>
        <td><button class="remove" ng-click="deleteField(field)">Delete</button></td>
      </tr>
    </table>
  </div>

  <h1>Add a Custom Field</h1>

  <form id="createFieldForm">
    <input class="feedback-input" type="text" ng-model="new_field.name" placeholder="name" required>
    <select id="type_select" class="feedback-input" name="typeOptions" ng-model="new_field.type">
      <option value = "" disabled selected>Select Type</option>
      <option value="short-form">Short Form Text</option>
      <option value="long-form">Long Form Text</option>
      <option value="integer">Integer</option>
      <option value="floating-point">Floating Point Number</option>
    </select>
    <div>
      <label>Is this field private?
        <input class="feedback-input" type="checkbox" ng-model="new_field.access" ng-true-value="private" ng-false-value="public">
      </label>
    </div>
    <div class="error" ng-if="errorMessage">{{ errorMessage }}</div>
    <input type="submit" ng-disabled="createFieldForm.$invalid" ng-click="addField()">
    <br>
  </form>

  <!-- VIEW FIELD MODAL -->
  <div class="modal fade" id="fieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="closeItemModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>

          </button>
          <h1 class="modal-title" id="exampleModalLabel">View Custom Field</h1>

        </div>
        <div class="modal-body" align="left">
          <div class="form-group" >
            <p>
              <label><b>Name: </b></label>
              <input id=fieldName type="text" ng-readonly="!editing" ng-model="currentField.name" required/>
            </p>
            <p>
              <label><b>Type:  </b></label>
              <select id="type_select" ng-readonly="!editing" ng-model="currentField.type">
                <option value = "" disabled selected>Select Type</option>
                <option value="short-form">Short Form Text</option>
                <option value="long-form">Long Form Text</option>
                <option value="integer">Integer</option>
                <option value="floating-point">Floating Point Number</option>
              </select>
            </p>
            <p>
              <label><b>Access Private?:  </b></label>
              <input type="checkbox" ng-readonly="!editing" ng-model="currentField.access"ng-true-value="private" ng-false-value="public"/>
            </p>
        </div>
      </div>

        <br>

        <div class="modal-footer">
          <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">Delete Custom Field</button>
          <button type="button" class="btn btn-secondary" ng-click="closeFieldModal()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="editField(currentField)">{{editing == true ? 'Save Edits' : 'Edit' }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DELETE CONFIRM MODAL -->
  <div class="modal fade" id="deleteConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h1 class="modal-title" id="exampleModalLabel">Confirm Deletion</h1>
        </div>
        <div class="modal-body" align="left">
          <div class="form-group" >
            Confirm Deletion
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmDeleteModal(currentField)>Confirm</button>
            <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelDeleteModal()>Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- EDIT CONFIRM MODAL -->
<div class="modal fade" id="editConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">Confirm Edits</h1>
      </div>
      <div class="modal-body" align="left">
        <div class="form-group" >
          Confirm Edits
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=confirmEditModal(currentField)>Confirm</button>
          <button type="button" class="btn btn-secondary" aria-hidden="true" ng-click=cancelEditModal(currentField)>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
