<html ng-app="orders_app">
<head>
  <title>Orders</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="orders_style.css">
  <script src="orders_factory.js"></script>

</head>

<body ng-controller="ordersController">

  <div><span id="navBar"></span><a href="" ng-click="logout()">logout {{myName}}</a></div>

<!-- <h1>REQUESTS WITH TABS</h1>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Loans</a></li>
        <li><a href="#tab2">Disbursements</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>Tab #1 content goes here!</p>
            <p>Donec pulvs.</p>
        </div>

        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
            <p>Donec p ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>

    </div>
</div> -->


<h1>REQUESTS</h1>
<input class = "feedback-input" type="text" ng-model="filter_name" placeholder="search requests">
<div>
  <label>Select Type of request to display</label>
</div>
<select id="request_type_select" class="feedback-input" name="requestOptions" ng-change="typeChanged()" ng-model="showRequestType">
  <option value="all">All</option>
  <option value="disburse">Disburse</option>
  <option value="loan">Loan</option>
</select>

<div class="customerTable" id = "cTable" style="height:25em;">
    <table id = "myRequestsTable" class="table">
      <tr>
        <td> User Name </td>
        <td> # of Items </td>
        <td> Date Issued </td>
        <td> Status </td>
        <td> Type </td>
        <td> View Request </td>
      </tr>

      <tr ng-repeat="order in orders | filter: filter_name | orderBy:'-date' | limitTo: paginationLimit()">
        <td style="display:none;" ng-bind="order._id"></td>
        <td ng-bind="order.customer_name || order.user.username"></td>
        <td ng-bind="order.items.length"></td>
        <td ng-bind="order.date | date:'short'"></td>
        <td ng-bind="order.status"></td>
        <td ng-bind="order.type"></td>
        <td><button class = "remove" ng-click='viewOrder(order)' data-toggle="modal" data-target="#orderModal">View</button></td>
      </tr>
    </table>
  </div>

  <button class = "remove" style="margin-top:1em; width: 20%; color: black;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">
      Show more
 </button>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>

        </button>
          <h1 class="modal-title" id="exampleModalLabel">View Request</h1>

      </div>
      <div class="modal-body" align="left">

        <div class="form-group" >
            <p> <b> User: </b> {{thisOrder.customer_name}}</p>
            <p>
              <span ng-show="thisOrder.status === 'outstanding' && isAuthorized">
                <table id = "openRequestTable" class="small table">
                  <tr>
                    <td> Item </td>
                    <td> Quantity Requested </td>
                    <td> Quantity to Disburse </td>
                    <td> Quantity to Loan </td>
                    <td> Quantity Denied </td>
                  </tr>
                  <tr ng-repeat="item in thisOrder.items">
                    <td ng-bind="item.item.name || '[Deleted item]'"></td>
                    <td ng-bind="item.quantity"></td>
                    <!-- TODO: Correct min-max (0-item.quantity)-->
                    <td ng-show="item.item.name"><input class="noverflow" type="number" ng-model="item.quantity_to_disburse"></td>
                    <td ng-show="item.item.name"><input class="noverflow" type="number" ng-model="item.quantity_to_loan"></td>
                    <td ng-show="item.item.name"><input class="noverflow" type="number" ng-model="item.quantity_to_deny"></td>
                  </tr>
                </table>
              </span>

              <span ng-show="thisOrder.status === 'onLoan' && isAuthorized">
                <table id = "openRequestTable" class="table">
                  <tr>
                    <td> Item </td>
                    <td> Quantity on Loan </td>
                    <td> Quantity to Disburse </td>
                    <td> Quantity to Return </td>
                  </tr>
                  <tr ng-repeat="item in thisOrder.items">
                    <td ng-bind="item.item.name || '[Deleted item]'"></td>
                    <td ng-bind="item.quantity"></td>
                    <!-- TODO: Correct min-max (0-item.quantity)-->
                    <td ng-show="item.item.name"><input type="number" ng-model="item.quantity_to_disburse"></td>
                    <td ng-show="item.item.name"><input type="number" ng-model="item.quantity_to_return"></td>
                    <!--<td ng-show="!item.item.name"><input type="number" ng-model="item.quantity_to_disburse"></td>
                    <td ng-show="!item.item.name"><input type="number" ng-model="item.quantity_to_return"></td>
                  -->
                  </tr>
                </table>
              </span>

              <span ng-show="thisOrder.status == 'denied'
              || thisOrder.status == 'returned'
              || thisOrder.status == 'disbursed'
              || thisOrder.status == 'approved'
              || thisOrder.status == 'converted'
              || !isAuthorized">
                <table id = "openRequestTable" class="table">
                  <tr>
                    <td> Item </td>
                    <td> Quantity Requested </td>
                  </tr>
                  <tr ng-repeat="item in thisOrder.items">
                    <td ng-bind="item.item.name || '[Deleted item]'"></td>
                    <td ng-bind="item.quantity"></td>
                  </tr>
                </table>
              </span>

            </p>


<!--
              <table>
                <tr>
                  <td><b>Item</b></td>
                  <td><b>Quantity</b></td>
                </tr>
                <tr ng-repeat="item in thisOrder.items">
                  <td ng-bind="item.item.name"></td>
                  <td ng-bind="item.quantity"></td>
                </tr>
              </table>
            </p>

            <p><b>Item:  </b>{{thisOrder.item_name}}</p>
            <p><b>Quantity:  </b>{{thisOrder.quantity}}</p>
          -->
            <p><b>Reason:  </b>{{thisOrder.reason}}</p>
            <p><b>Current Status:  </b>{{thisOrder.status}}</p>
            <p><b>Suggested Type: </b>{{thisOrder.type}}</p>
            <p><b>Date: </b>{{ thisOrder.date | date:'short'}}</p>
            <p ng-show="thisOrder.note"><b>Comment: </b>{{thisOrder.note}}</p>
          </div>


      <div ng-if="isAuthorized">
        <div class="error" ng-show="errorMessage">{{ errorMessage }}</div>
        <form id="request_response_form">
          <label for="message-text" class="form-control-label">Comment:</label>
          <textarea class="form-control" id="message-text" ng-model="orderResponse.comment"></textarea>
          <button type="button" class="btn btn-primary" ng-click="respondToOrder()" id = "respondOrderButton">Respond</button>
        </form>
      </div>

      <div class="modal-footer">

        <button class="btn btn-danger" ng-click='removeOrder(thisOrder)' ng-show="isAuthorized || thisOrder.status === 'outstanding'" id = "cancelOrderButton">Cancel order</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    $('#orderModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
    })

  </script>

</body>
</html>
