<html ng-app="orders_app">
<head>
  <title>Orders</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="orders_style.css">
  <script src="orders_factory.js"></script>

</head>

<body ng-controller="ordersController">

  <div><span id="navBar"></span><a href="" ng-click="logout()">logout {{myName}}</a></div>

<!-- <h1>REQUESTS WITH TABS</h1>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Loans</a></li>
        <li><a href="#tab2">Disbursements</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>Tab #1 content goes here!</p>
            <p>Donec pulvs.</p>
        </div>

        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
            <p>Donec p ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>

    </div>
</div> -->


<h1>REQUESTS</h1>
<input class = "feedback-input" type="text" ng-model="filter_name" placeholder="search requests">
<div>
  <label>Select Type of request to display</label>
</div>
<select id="request_type_select" class="feedback-input" name="requestOptions" ng-change="typeChanged()" ng-model="showRequestType">
  <option value="all">All</option>
  <option value="disburse">Disburse</option>
  <option value="loan">Loan</option>
</select>

<div class="customerTable" id = "cTable" style="height:25em;">
    <table id = "myRequestsTable" class="table">
      <tr>
        <td> User Name </td>
        <td> # of Items </td>
        <td> Date Issued </td>
        <td> Last Updated </td>
        <td> View Request </td>
      </tr>

      <tr ng-repeat="order in orders | filter: filter_name | orderBy:'-date' | limitTo: paginationLimit()">
        <td style="display:none;" ng-bind="order._id"></td>
        <td ng-bind="order.user.netId || order.customer_name || order.user.username"></td>
        <td ng-bind="order.items.length"></td>
        <td ng-bind="order.date | date:'short'"></td>
        <td ng-bind="order.dateUpdated | date:'short'"></td>
        <td><button class = "remove" ng-click='viewOrder(order)' data-toggle="modal" data-target="#orderModal">View</button></td>
      </tr>
    </table>
  </div>

  <button class = "remove" style="margin-top:1em; width: 20%; color: black;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">
      Show more
 </button>

 <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <h1 class="modal-title" id="exampleModalLabel">View Request</h1>
       </div>
       <div class="modal-body" align="left">
         <div class="form-group" >
           <p> <b> User: </b> {{thisOrder.customer_name || thisOrder.user.username || thisOrder.user.netId}}</p>
           <p><b>Reason:  </b>{{thisOrder.reason}}</p>
           <p><b>Date: </b>{{ thisOrder.date | date:'short'}}</p>
           <div class="error" ng-show="errorMessage">{{ errorMessage }}</div>
           <span id="outstanding" ng-show=hasOutstanding()>
             <h5>Outstanding Requests</h5>
             <table id="outstandingTable" class="small table">
               <tr>
                 <th> Item </th>
                 <th> Outstanding Remaining </th>
                 <th> Suggested Type </th>
                 <!--<th> Outstanding Remaining</th>-->
                 <th ng-show="isAuthorized"> Quantity to Disburse </th>
                 <th ng-show="isAuthorized"> Quantity to Loan </th>
                 <th ng-show="isAuthorized"> Quantity to Deny </th>
                 <th ng-show="isAuthorized"> Quantity to Backfill </th>
                 <!-- Chnage this show variable to be based on if id = thisOrder.id -->
                 <th ng-show="isMe"> Quantity to Cancel </th>
               </tr>
               <tr ng-repeat="item in thisOrder.items">
                 <span ng-show="item.quantity_requested > 0">
                   <td ng-bind="item.item.name || '[Deleted item]'"></td>
                   <td ng-bind="item.quantity_requested"></td>
                   <td ng-bind="item.type"></td>
                   <!--<td ng-bind="item.quantity_requested - (item.outstanding_disburse + item.outstanding_loan + item.outstanding_deny + item.outstanding_backfill)"></td>-->
                   <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.outstanding_disburse"></td>
                   <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.outstanding_loan"></td>
                   <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.outstanding_deny"></td>
                   <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.outstanding_backfill"></td>
                   <!-- Chnage this show variable to be based on if id = thisOrder.id -->
                   <td ng-show="isMe"><input class="noverflow" min="0" type="number" ng-model="item.quantity_cancel"></td>
                 </span>
                 </tr>
             </table>
           </span>

           <span id="disburse" ng-show="hasDisburse()">
             <h5>Completed Requests</h5>
             <table id="disburseTable" class="small table">
               <tr>
                 <td> Item </td>
                 <td> Quantity Disbursed </td>
                 <td> Quantity Denied </td>
                 <td> Quanitty Returned </td>
               </tr>
               <tr ng-repeat="item in thisOrder.items">
                <span ng-show="item.quantity_disburse > 0 || item.quantity_deny > 0">
                 <td ng-bind="item.item.name || '[Deleted item]'"></td>
                 <td ng-bind="item.quantity_disburse"></td>
                 <td ng-bind="item.quantity_deny"></td>
                 <td ng-bind="item.quantity_return"></td>
                </span>
               </tr>
             </table>
           </span>

           <span id="loan" ng-show="hasLoan()">
             <h5>Loan Table</h5>
             <table id="loanTable" class="small table">
               <tr>
                 <td> Item </td>
                 <td> Quantity on Loan </td>
                 <td ng-show="isAuthorized"> Quantity to Disburse </td>
                 <td ng-show="isAuthorized"> Quantity Returned </td>
                 <!-- Chnage this show variable to be based on if id = thisOrder.id -->
                 <td ng-show="isMe"> Quantity to Request Backfill </td>
               </tr>
               <tr ng-repeat="item in thisOrder.items">
                 <span ng-show="item.quantity_loan > 0">
                   <td ng-bind="item.item.name || '[Deleted item]'"></td>
                   <td ng-bind="item.quantity_loan"></td>
                   <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.loan_disburse"></td>
                   <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.loan_return"></td>
                                    <!-- Chnage this show variable to be based on if id = thisOrder.id -->
                   <td ng-show="isMe"><input class="noverflow" min="0" type="number" ng-model="item.loan_backfill"></td>
                 </span>
               </tr>
             </table>
           </span>
           <span id="backfill" ng-show="hasBackfill()">
             <table id="loanTable" class="small table">
               <tr>
                 <td> Item </td>
                 <td> Quantity Requested </td>
                 <td> Quantity in Transit </td>
                 <td> Quantity Fullfilled </td>
                 <td> pdf </td>
                 <!-- Chnage this show variable to be based on if id = thisOrder.id -->
                 <td ng-show="!isAuthorized"> Quantity to Request Backfill </td>
               </tr>
               <tr ng-repeat="item in backfillItems">
                 <td ng-bind="item.item.name || '[Deleted item]'"></td>
                 <td ng-bind="item.quantity_req"></td>
                 <td ng-readonly="!isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.quantity_disburse"></td>
                 <td ng-readonly="!isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.quantity_return"></td>
                 <td ng-readonly="!isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.quantity_deny"></td>
                 <td ng-show="isAuthorized"><input class="noverflow" min="0" type="number" ng-model="item.quantity_deny"></td>
               </tr>
             </table>
           </span>
           <!-- Display previous Notes Here -->
         </div>


         <form>
           <label for="message-text" class="form-control-label">Comment:</label>
           <textarea class="form-control" id="message-text" ng-model="thisOrder.note"></textarea>
           <br>
           <button type="button" class="btn btn-primary" ng-click="respondToOrder(thisOrder)" id = "respondOrderButton">Respond</button>
         </form>

         <div class="modal-footer">
           <button class="btn btn-danger" ng-click='removeOrder(thisOrder)' ng-show="isAuthorized || thisOrder.status === 'outstanding'" id = "cancelOrderButton">Cancel order</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>
 </div>

  <script type="text/javascript">
    $('#orderModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
    })

  </script>

  </body>
</html>
