body {
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
      margin: 10px;
    }

    .feedback-input {
      font-family: Helvetica, Arial, sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border:2px solid steelblue;
      transition: all 0.5s;
      padding: 13px;
      margin-bottom: 15px;
      width:100%;
      box-sizing: border-box;
      outline:0;
      width: 50%;
    }

    .feedback-input:focus { border:2px solid #28A1B4; }


    [type="submit"] {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      width: 100%;
      background: #6C93B4;
      border-radius:5px;
      border:0;
      cursor:pointer;
      font-size:24px;
      padding-top:10px;
      padding-bottom:10px;
      transition: all 0.5s;
      margin-top:-4px;
      font-weight:700;
      width: 50%;
      color: white;
    }
    [type="submit"]:hover { background: teal; }

    .error {
      font-size: 30px;
      color: red;
    }

    /*remove button*/
    .remove {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      width: 100%;
      background: rgba(0, 50, 50, 0.1);;
      border-radius:5px;
      border:3px solid #6C93B4;
      cursor:pointer;
      font-size:15px;
      padding-top:7px;
      padding-bottom:7px;
      transition: all 0.5s;
      margin-top:3px;
      letter-spacing: 2px;
      width: 50%;
      color: white;
    }
    .remove:hover { background: rgba(150, 200, 200, 0.6); }


    .customerTable {
      margin:0px;padding:0px;
      width:100%;
      height: 21em;
      overflow-y:scroll;

      -moz-border-radius-bottomleft:14px;
      -webkit-border-bottom-left-radius:14px;
      border-bottom-left-radius:14px;

      -moz-border-radius-bottomright:14px;
      -webkit-border-bottom-right-radius:14px;
      border-bottom-right-radius:14px;

      -moz-border-radius-topright:14px;
      -webkit-border-top-right-radius:14px;
      border-top-right-radius:14px;

      -moz-border-radius-topleft:14px;
      -webkit-border-top-left-radius:14px;
      border-top-left-radius:14px;
    }.customerTable table{
        border-collapse: collapse;
            border-spacing: 0;
      width:100%;
      margin:0px;padding:0px;
    }
    .customerTable tr {
      height:3em;
    }

    .customerTable tr:last-child td:last-child {
      -moz-border-radius-bottomright:14px;
      -webkit-border-bottom-right-radius:14px;
      border-bottom-right-radius:14px;
    }
    .customerTable table tr:first-child td:first-child {
      -moz-border-radius-topleft:14px;
      -webkit-border-top-left-radius:14px;
      border-top-left-radius:14px;
    }
    .customerTable table tr:first-child td:last-child {
      -moz-border-radius-topright:14px;
      -webkit-border-top-right-radius:14px;
      border-top-right-radius:14px;
    }.customerTable tr:last-child td:first-child{
      -moz-border-radius-bottomleft:14px;
      -webkit-border-bottom-left-radius:14px;
      border-bottom-left-radius:14px;
    }.customerTable tr:hover td{
      background-color:#b5e3e3;


    }
    .customerTable td{
      vertical-align:middle;

      background-color:#b7cece;

      border:1px solid #ecf8f8;
      border-width:0px 1px 1px 0px;
      text-align:center;
      padding:8px;
      font-size:13px;
      font-family:Arial;
      font-weight:normal;
      color:#000000;
    }.customerTable tr:last-child td{
      border-width:0px 1px 0px 0px;
    }.customerTable tr td:last-child{
      border-width:0px 0px 1px 0px;
    }.customerTable tr:last-child td:last-child{
      border-width:0px 0px 0px 0px;
    }
    .customerTable tr:first-child td{
        background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
      background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

      background-color:#005fbf;
      border:0px solid #a8e0e0;
      text-align:center;
      border-width:0px 0px 1px 1px;
      font-size:15px;
      font-family:Arial;
      font-weight:bold;
      color:#ffffff;
    }
    .customerTable tr:first-child:hover td{
      background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
      background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

      background-color:#005fbf;
    }
    .customerTable tr:first-child td:first-child{
      border-width:0px 0px 1px 0px;
    }
    .customerTable tr:first-child td:last-child{
      border-width:0px 0px 1px 1px;
    }

    .smallTable {
      font-size: 11px;
      text-align: center;
    }

/*----- Tabs -----*/
/*--> changed design decision: single table view for requests 3/20*/
.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background: #d1e0e0;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.35s;
        }

        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#91b6d4;
        color:#4c4c4c;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        /*text-align: left;*/
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#d5f1f6;
        background: -webkit-linear-gradient(white, #d5f1f6); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, #d5f1f6); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, #d5f1f6); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, #d5f1f6); /* Standard syntax */
    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }
