<html ng-app="orders_app">
<head>
  <title>Orders</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="cart_style.css">
  <script src="cart_factory.js"></script>

</head>

<body ng-controller="ordersController">

<!-- <div ng-controller="authController"> -->
  <a ng-if="authorized" href="/dispCustomers">users</a> | <a href="/dispOrders">requests</a> | <a href="/dispProducts">items</a> | <a href="" ng-click="logout()">logout {{myName}}</a>
<!-- </div> -->

<h1>CART</h1>
<input class = "feedback-input" type="text" ng-model="filter_name" placeholder="filter">

<div class="customerTable" id = "cTable" >
    <table >
      <tr>
        <td> User Name </td>
        <td> Item </td>
        <td> Quantity </td>
        <td> Date Issued </td>
        <!-- <td> Date Fulfilled </td> -->
        <td> Status </td>
        <td> View Request </td>
      </tr>

      <tr ng-repeat="order in orders | filter: filter_name | orderBy:'-status'">
        <td ng-bind="order.customer_name || order.user.username"></td>
        <td ng-bind="order.item_name"></td>
        <td ng-bind="order.quantity"></td>
        <td ng-bind="order.date | date:'short'"></td>
        <!-- <td ng-bind="order.dateDone | date:'short'"></td> -->
        <td ng-bind="order.status"></td>
        <td><button class = "remove" ng-click='viewOrder(order)' data-toggle="modal" data-target="#orderModal">View</button></td>
      </tr>
    </table>
  </div>

  <h1>Create Request</h1>

 <form id="createReqForm">
   <select style = "display:none;" class = "feedback-input" ng-controller="customersController" id = "customerList" name="customerOptions" ng-model="new_order.customer_name" required>
      <option value="" selected disabled>User Name</option>
      <option ng-repeat="customer in customers" value="{{customer._id}}" ng-bind="customer.name"></option>
    </select>

    <input style = "display:none;" id="thisCustomerInput" class = "feedback-input" type="text" value="{{myName}}" ng-readonly="true" />

    <select class = "feedback-input" ng-controller="productsController" id = "productList" name="productsOptions" ng-model="new_order.product" required>
      <option value="" selected disabled>Item</option>
      <option ng-repeat="product in products" value="{{product._id}}">{{product.name}} || {{product.description}}</option>
    </select>
    <input class = "feedback-input" type="number" ng-model="new_order.quantity" placeholder="quantity" required>
    <textarea class = "feedback-input" ng-model="new_order.reason" placeholder="Reason" required></textarea>
    <input type="submit" ng-disabled="createReqForm.$invalid" ng-click="addOrder()">
    <br>
 </form>


<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>

        </button>
          <h1 class="modal-title" id="exampleModalLabel">View Request</h1>

      </div>
      <div class="modal-body" align="left">

        <div class="form-group" >
            <p> <b> User: </b> {{thisOrder.customer_name}}</p>
            <p><b>Item:  </b>{{thisOrder.item_name}}</p>
            <p><b>Quantity:  </b>{{thisOrder.quantity}}</p>
            <p><b>Reason:  </b>{{thisOrder.reason}}</p>
            <p><b>Current Status:  </b>{{thisOrder.status}}</p>
          </div>
          

      <div ng-if="authorized">
        <form id="request_response_form">
          <h3>Respond:</h3>
          <div class="form-group">
                <div class="radio">
                  <label><input type="radio" name="optionResponse" class="approveButton" ng-model="orderResponse.yesOrNo" value = "approve">Approve</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optionResponse" class="denyButton" ng-model="orderResponse.yesOrNo" value = "deny">Deny</label>
                </div>
            <label for="message-text" class="form-control-label">Comment:</label>
            <textarea class="form-control" id="message-text" ng-model="orderResponse.comment"></textarea>
          </div>
          <button type="button" class="btn btn-primary" ng-click="respondToOrder()" id = "respondOrderButton">Respond</button>
        </form>
      </div>

      </div>
      <div class="modal-footer">

        <button class="btn btn-danger" ng-click='removeOrder(thisOrder)'  id = "cancelOrderButton">Cancel order</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    $('#orderModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
    })
  </script>

</body>
</html>
